<a ui-sref="admin" ui-sref-active="section-nav-link--active" class="section-nav-link">Admin Home</a>
<a ui-sref="admin-manage" ui-sref-active="section-nav-link--active" class="section-nav-link">Manage Admins</a>
<a ui-sref="admin-notifications" ui-sref-active="section-nav-link--active"  class="section-nav-link section-nav-link--section-break">Mail Notifications</a>
<a ui-sref="admin-unreviewed" ui-sref-active="section-nav-link--active"  class="section-nav-link">Unreviewed Pitches</a>
<a ui-sref="admin-under-consideration" ui-sref-active="section-nav-link--active"  class="section-nav-link">Under Consideration</a>
<a ui-sref="admin-in-negotiation" ui-sref-active="section-nav-link--active"  class="section-nav-link">In Negotiation</a>
<a ui-sref="admin-sold" ui-sref-active="section-nav-link--active"  class="section-nav-link section-nav-link--section-break">Sold</a>
<a ui-sref="admin-rejected" ui-sref-active="section-nav-link--active"  class="section-nav-link">Rejected</a>
<button ng-click="toggleMobileNav()">Menu</button>