.card {
	border-radius: 10px;
	border: solid 1px $silver;
	margin-bottom: 2rem;
	padding: 20px;
	transition: all 0.35s;
}

.card-heading {
	font-size: 1.75rem;
	margin-top: 0px;
	margin-bottom: 2rem;
	text-transform: uppercase;
}



.notification {
	color: $tomato;
	display: block;
	font-size: .825rem;
	padding: 1rem 0;
	text-transform: uppercase;
}

.pitch-actions {
	align-items: center;
	display: flex;
	justify-content: flex-end;

	button + button {
		margin-left: 20px;
	}
}
