[class*="icon"] {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  display: inline-block;
  height: 22px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 22px;
}

.icon-user {
	background-image: url('../img/ico-user.svg');
}
.icon-logout {
	background-image: url('../img/ico-logout.svg');
}
