.list {
	list-style-type: none;
	padding-left: 0;
}

.list--press {
	margin: 2rem 0;

	a {
		color: $tomato;
		font-weight: 700;
		text-decoration: none;
		transition: all 0.35s;
		text-transform: uppercase;
	}

	a:hover {
		color: $dark-tomato;
	}

	 li {
	 	margin-bottom: 1rem;
	 }
}

.admin-list,
.current-admin-list {
	margin-bottom: 50px;
	padding-left: 0px;
}

.admin-user {
	display: flex;
	padding: 1rem 0;

	> div {
		flex: 1 1 auto;
	}

	> button {
		background: none;
		color: $tomato;
		flex: 0 0 120px;
		font-size: .825rem;
		padding: 0;
		width: 200px;
	}
}

.admin-user + .admin-user {
	border-top: solid 1px $pale-grey;
}

.pitch-list-flexbox {
	align-items: center;
	display: flex;
	justify-content: flex-end;

	button {
		display: block;
		flex: 0 0 auto;
	}

	span {
		display: block;
		flex: 1 1 auto;
		text-align: center;
	}
}

.pitch-list-item {
	border-top: solid 1px $pale-grey;
	padding: 1.5rem 0;
	transition: all 0.35s;

	&:first-of-type{
		margin-top: 2rem;
	}

	p {
		font-size: 1rem;
	}
}

.pitch-list-item.animate-out {
	opacity: 0;
}

.pitch-genre {
	text-transform: uppercase;
}

.pitch-contact a {
	color: $tomato;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}