<header class="header" app-header></header>

<section ng-controller="AdminController" class="section section--regular">
  <div class="section-content section-content--has-nav">
    <div class="section-content-nav {{isMobileNavOpen}}" ng-include src="'views/subviews/admin-nav.html'"></div>

    <div class="section-content-content">
      <!-- List All Pitches -->
      <div admin-pitch-list data-status="in_negotiation" class="pitch-list">
        <h3 class="card-heading">In Negotiation Pitches</h3>
        <p>In negotiation pitches are currently being negotiated.</p>

        <div class="pitch-list-item pitch-list-flexbox">
          <button class="pagination-button btn btn--tertiary" id="prev-button">Prev</button>
          <span>Showing&nbsp;{{pitches.length}}&nbsp;results. (Page&nbsp;{{page}}&nbsp;of&nbsp;{{pages}})</span>
          <button class="pagination-button btn btn--tertiary" id="next-button">Next</button>
        </div>
        <div admin-pitch ng-repeat="pitch in pitches" class="pitch-list-item" data-id="{{pitch._id}}" data-current-status="in_negotiation">
          <div class="pitch-genre">{{pitch.genre}}</div>
          <p>{{pitch.pitchText}}</p>
          <p class="pitch-contact" style="font-size: .875rem;">
            <a href="mailto:{{pitch.submitterEmail}}" target="_blank">{{pitch.submitterEmail}}</a><br><a href="tel:{{pitch.submitterPhone}}">{{pitch.submitterPhone}}</a>
          </p>
          <div class="btn-container pitch-actions">
            <button class="btn btn--tertiary" data-to-status="rejected">Reject</button>
            <button class="btn btn--secondary" data-to-status="accepted">Mark as Sold</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>