<header class="header" app-header></header>

<section ng-controller="AdminController" class="section section--regular">
  <div class="section-content section-content--has-nav">
    <div class="section-content-nav {{isMobileNavOpen}}" ng-include src="'views/subviews/admin-nav.html'"></div>

    <div class="section-content-content">
      <!-- List All Pitches -->
      <div admin-pitch-list data-status="rejected" class="pitch-list">
        <h3 class="card-heading">Rejected Pitches</h3>
        <p>Hitting "move under consideration" will move pitches into the "Under Consideration" list.</p>

        <div class="pitch-list-item">There are currently {{pitches.length}} rejected pitches.</div>
        <div admin-pitch ng-repeat="pitch in pitches" class="pitch-list-item" data-id="{{pitch._id}}" data-current-status="rejected">
          <div class="pitch-genre">{{pitch.genre}}</div>
          <p>{{pitch.pitchText}}</p>
          <div class="btn-container pitch-actions">
            <button class="btn btn--secondary" data-to-status="under_consideration">Move Under Consideration</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>