<header class="header" app-header></header>

<section ng-controller="AdminController" class="section section--regular">
  <div class="section-content section-content--has-nav">
    <div class="section-content-nav {{isMobileNavOpen}}" ng-include src="'views/subviews/admin-nav.html'"></div>

    <div class="section-content-content">
      <!-- List All Pitches -->
      <div admin-pitch-list data-status="accepted" class="pitch-list">
        <h3 class="card-heading">Purchased Pitches</h3>
        <p>These pitches have been sold to a studio.</p>

        <div class="pitch-list-item">There are currently {{pitches.length}} pitches that have been sold.</div>
        <div admin-pitch ng-repeat="pitch in pitches" class="pitch-list-item" data-id="{{pitch._id}}" data-current-status="accepted">
          <div class="pitch-genre">{{pitch.genre}}</div>
          <p>{{pitch.pitchText}}</p>
          <div class="btn-container">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>