<header class="header" app-header></header>

<section ng-controller="AdminController" class="section section--regular">
  <div class="section-content section-content--has-nav">
    <div class="section-content-nav {{isMobileNavOpen}}" ng-include src="'views/subviews/admin-nav.html'"></div>

    <div class="section-content-content">
      <!-- List All Pitches -->
      <div admin-pitch-list data-status="unreviewed" class="pitch-list">
        <h3 class="card-heading">Unreviewed Pitches</h3>
        <p>Here are all the currently unriewed pitches that have been submitted to moviepitch.com. Mark a pitch as "accepted" to move it to the "pending" list to wait for a studio decision. Reject pitches that will not be pitched.</p>

        <div class="pitch-list-item">There are currently {{pitches.length}} unreviewed pitches.</div>
        <div class="pitch-list-item" admin-pitch ng-repeat="pitch in pitches" data-id="{{pitch._id}}">
          <div class="pitch-genre">{{pitch.genre}}</div>
          <p>{{pitch.pitchText}}</p>
          <div class="btn-container pitch-actions">
            <button class="btn btn--tertiary js-reject-unreviewed-pitch">Reject</button>
            <button class="btn btn--secondary js-accept-unreviewed-pitch">Move Under Consideration</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>